.first-section {
  padding-top: 40px;
}

.footer {
  padding: 40px 0;
}

.icon-link {
  position: relative;
}

.icon-link svg {
  position: absolute;
}

.icon-link a, .icon-link span {
  margin-left: 30px;
}
